.h-1 {
  height: 3.5px;
}

.h-2 {
  height: 7px;
}

.h-3 {
  height: 10.5px;
}

.h-4 {
  height: 14px;
}

.h-5 {
  height: 17.5px;
}

.h-6 {
  height: 21px;
}

.h-7 {
  height: 24.5px;
}

.h-8 {
  height: 28px;
}

.h-9 {
  height: 31.5px;
}

.h-10 {
  height: 35px;
}

.w-1 {
  width: 3.5px;
}

.w-2 {
  width: 7px;
}

.w-3 {
  width: 10.5px;
}

.w-4 {
  width: 14px;
}

.w-5 {
  width: 17.5px;
}

.w-6 {
  width: 21px;
}

.w-7 {
  width: 24.5px;
}

.w-8 {
  width: 28px;
}

.w-9 {
  width: 31.5px;
}

.w-10 {
  width: 35px;
}

.w-1 {
  width: 3.5px;
}

.w-2 {
  width: 7px;
}

.w-3 {
  width: 10.5px;
}

.w-4 {
  width: 14px;
}

.w-5 {
  width: 17.5px;
}

.w-6 {
  width: 21px;
}

.w-7 {
  width: 24.5px;
}

.w-8 {
  width: 28px;
}

.w-9 {
  width: 31.5px;
}

.w-10 {
  width: 35px;
}

.p-6 {
  padding: 21px;
}

.p-7 {
  padding: 24.5px;
}

.p-8 {
  padding: 28px;
}

.p-9 {
  padding: 31.5px;
}

.p-10 {
  padding: 35px;
}

.px-6 {
  padding-right: 21px;
  padding-left: 21px;
}

.px-7 {
  padding-right: 24.5px;
  padding-left: 24.5px;
}

.px-8 {
  padding-right: 28px;
  padding-left: 28px;
}

.px-9 {
  padding-right: 31.5px;
  padding-left: 31.5px;
}

.px-10 {
  padding-right: 35px;
  padding-left: 35px;
}

.m-6 {
  margin: 21px;
}

.m-7 {
  margin: 24.5px;
}

.m-8 {
  margin: 28px;
}

.m-9 {
  margin: 31.5px;
}

.m-10 {
  margin: 35px;
}

.mx-6 {
  margin-right: 21px;
  margin-left: 21px;
}

.mx-7 {
  margin-right: 24.5px;
  margin-left: 24.5px;
}

.mx-8 {
  margin-right: 28px;
  margin-left: 28px;
}

.mx-9 {
  margin-right: 31.5px;
  margin-left: 31.5px;
}

.mx-10 {
  margin-right: 35px;
  margin-left: 35px;
}

.mt-6 {
  margin-top: 21px;
}

.mt-7 {
  margin-top: 24.5px;
}

.mt-8 {
  margin-top: 28px;
}

.mt-9 {
  margin-top: 31.5px;
}

.mt-10 {
  margin-top: 35px;
}

.body-index {
  background-color: #f2f2f2;
  background-image: url(../scss/img/background-general.png);
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
}

.body-paginas {
  background-color: #f2f2f2;
}

.fondo-img {
  background-image: url(../scss/img/backgound\ family\ dog.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
  min-height: 850px;
  max-width: 1913px;
}

.index-title {
  padding-right: 100px;
  padding-top: 15px;
}

.index-nav-link {
  text-decoration: none;
  color: white;
}

.main-sec-row {
  border: solid #e6e6e6 1px;
  background-color: white;
}

footer {
  background-color: #eaeaea;
  border: solid 2px #dedede;
}

h1 {
  color: #f2f2f2;
  font-size: 48px;
}

h3 {
  color: #c99952;
  font-size: 32px;
}

.footer-title {
  color: #e89476;
  font-size: 32px;
}

h4 {
  color: rgb(228, 131, 96);
}

.index-btn {
  border: 1px solid rgb(253, 189, 105);
  border-radius: 20px;
  color: rgb(253, 189, 105);
  background-color: rgb(245, 196, 132);
}
.index-btn:hover {
  background-color: #fdb455;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}

.img-pet img {
  max-height: 600px;
}

.svg-icon {
  width: 60px;
  height: 60px;
  color: black;
}

.svg-icon-contact {
  width: 30px;
  height: 30px;
  color: rgb(228, 131, 96);
}

.box-contact {
  max-width: 500px;
  max-height: 600px;
  background-color: white;
  box-shadow: 2px 2px 10px 0.5px rgb(110, 110, 110);
  border: solid 1px white;
  border-radius: 30px;
}

.img-aside-contact img {
  border-radius: 20px;
  max-height: 350px;
  max-width: 600px;
  min-height: auto;
}

/*# sourceMappingURL=styles.css.map */
