// height
@for $i from 1 through 10 {
    .h-#{$i}{
        height: 3.5px * $i;
    }
}
// width
@for $i from 1 through 10{
    .w-#{$i}{
        width: 3.5 * $i;
    }
}
// padding
@for $i from 6 through 10{
    .p-#{$i}{
        padding: 3.5 * $i;
    }
}
// margin
@for $i from 6 through 10{
    .m-#{$i}{
        margin: 3.5 * $i;
    }
}
@for $i from 6 through 10{
    .mt-#{$i}{
        margin-top: 3.5 * $i;
    }
}