// Botones
@mixin index-btn($color){
    border: 1px solid $color;
    border-radius: 20px;
    color: $color;
    background-color: rgb(243, 217, 183);
    &:hover{
        background-color: darken($color, 4);
        color: #fff;
    }
}
