// Botones
@mixin index-btn($color){
    border: 1px solid $color;
    border-radius: 20px;
    color: $color;
    background-color: rgb(243, 217, 183);
    &:hover{
        background-color: darken($color, 4);
        color: #fff;
        transition: 0.5s ;
    }
}
// propiedades del nav (texto)
@mixin prop-nav($size, $color, $font) { 
    font-size: $size;
    color: $color;
    font-family: $font;
    text-decoration: none;
}