.body-index{
    background-color: $primary-color;
    background-image: url(../scss/img/background-general.png);
    background-repeat: none;
}
<<<<<<< HEAD
body{
=======
.body-paginas{
>>>>>>> mod
    background-color: $primary-color;
}