.box-contact{
    @include box-contact (500px, 600px);
    min-width: 300px;
}
@mixin media-relative ($top, $z-index){
    position: relative;
    z-index: $z-index;
    top: $top;
}

.fila-cont{
    position: relative;
    section{
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        padding-bottom: 20px;
    }
    aside{
        position: relative;
        z-index: 1;
        top: 0px;
        right: 40px;
        @media screen and (max-width: 1399px) {
            @include media-relative (15px, 1);
        }
        @media screen and (max-width: 1199px) {
            @include media-relative (50px, 1);
        }
        @media screen and (max-width: 991px) {
            @include media-relative (50px, 1);
            img{
                max-width: 450px;
            }
        }
        @media screen and (max-width: 832px) {
            @include media-relative (50px, 1);
            img{
                max-width: 400px;
            }
        }
    }
}

.img-cont{

    img{
        border-radius: 20px;
    }
}
