.box-contact{
    @include box-contact;
}
.img-aside-contact{
    
    img{
        border-radius: 20px;
        max-height: 350px;
    }
}

.cont-relativ{
    position: relative;
    margin-bottom: 100px;
    left:auto;
    section{
        top: 0;
        left: 0;
        z-index: 2;
        padding-bottom: 20px;
        @media screen and (max-width: 1128px){
            margin-bottom: 0;
        }
    }
    aside{
        flex: 0 0 30%;
        z-index: 1;
        position: relative;
        left: -70px;
        margin-top: 50px;
        @media screen and (max-width: 1128px){
            position: relative;
            bottom: 25px;
            left: 0;
            margin-bottom: 0;
        }
        img{
            max-width: 600px;
            min-width: auto;
        }
    }
}
