.fondo-img{
    background-image: url(../scss/img/backgound\ family\ dog.jpg);
    background-repeat: none;
    min-height: 850px;
    max-width: 1913px;
}
.index-title{
    padding-right: 100px;
    padding-top: 15px;
}
.index-nav-link{
    text-decoration: none;
    color: white;
}