.main-sec-row{
    border: solid darken($color: $primary-color, $amount: 10) 1px;
    background-color: darken($color: $primary-color, $amount: 3);
}

.main-carousel{
    max-height: 400px;
    max-width: 700px;
}