h1{
    color: $primary-color;
    font-size: size(6.5);
}
h2{
    font-size: size(4);
}
h3{
    color: $secondary-color;
    font-size: size(4);
}
.footer-title{
    color: map-get( $tipografia, "naranja");
    font-size: size(4);
}
h4{
    color: $terciary-color;
}
h5{
    color: rgba(0,0,0,0.6);
    font-size: size(8);
}
h6{
    color: rgba(0,0,0,0.6);
    font-size: size(3);
}