h1{
    color: $primary-color;
    font-size: size(6);
}
h2{
    font-size: size(3.5);
}
h3{
    color: $secondary-color;
    font-size: size(4);
}
.footer-title{
    color: lighten($color: $terciary-color, $amount: 5);
    font-size: size(4);
}
h4{
    color: $terciary-color;
}
h5{
    color: rgba(0,0,0,0.6);
    font-size: size(7);
}
h6{
    color: rgba(0,0,0,0.6);
    font-size: size(2.5);
}